.hero-unit
  %h3
    Customerを作成しました
  .row
    .span9
      %table.table.table-striped.table-hover.table-bordered
        %tr
          %td ユニークキー
          %td= @customer.id
        %tr
          %td メールアドレス
          %td= @customer.email
        %tr
          %td 詳細
          %td= @customer.description
        %tr
          %td カード番号（下四桁）
          %td= @customer.active_card.last4
  %a.btn.btn-large.pull-right{ href: '/'}
    戻る
